@charset "UTF-8";

:root {
    --menu-bg: rgb(40,35,38);
    --amarelo-pastel: #f0e68c;
    --gold: #FA8072;
    --verm-esc: #DC143C;
    --light-steel-blue: #000000;
    --cinza-claro: rgb(200,200,200);
}

/*GERAL*/
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1rem;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

::-webkit-scrollbar {
    width: 0.6rem;
    overflow: auto;
    padding: 0 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--cinza-claro);
    border-radius: 8px;
    background-clip: content-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: var(--menu-bg);
    border-radius: 8px;
    border: 1px solid var(--menu-bg);
    margin-top: -4px;
    margin-bottom: -4px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--verm-esc);
    border-radius: 8px;
}

/*BODY*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--cinza-claro);
    display: block;
    flex-direction: column;
    min-height: 100vh;
}



.corpo {
    margin: 80px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1#titulo-principal {
    font-size: 2rem;
    margin-bottom: 40px;
    
}

p#p1 {
    padding-inline: 20px;
}

.texto-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
    margin-top: 50px;
    padding: 50px 60px 20px 60px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 13px 4px rgba(255, 255, 255, 0.75);
}

div#texto-img1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
}
div#texto-img2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 2rem;
}

.texto-img h2 {
    font-size: 1.5rem;
    
}
.texto-img p {
    font-size: 1rem;
    padding: 20px;
}

.img1 , .img2 {
    padding: 20px;
    max-width: 40%;
}

/*HEADER*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--menu-bg);
    padding: 0px 10px 0px 15px;
    box-shadow: 0px 0px 13px 4px rgba(170, 13, 13, 0.5);
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.nav {
    display:inline-flex;
    z-index: 1;
}


/*MENU*/
.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}


.menu {
    margin-right: -5px;
}

.menu li {
    margin: 0 auto;
    align-items: center;
}

.menu li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    color: var(--verm-esc);
    text-decoration: none;
    text-shadow: 1px;
    margin: auto;
    border-radius: 0.6rem;  
    align-items: center;
    
}

.menu a:hover {
    transition: 0.5s;
    background: var(--cinza-claro);
    box-shadow: 0px 0px 13px 4px rgba(170, 13, 13, 0.5);
}



a#logo-menu img{
    max-width: 108px;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 0px 10px 0px 10px;
}

a#logo-menu {
    align-items: center;
    margin-left: -15px;
    margin-top: -10px;
    margin-bottom: 5px auto;
    padding-bottom: 6px;
    
}

a#logo-menu:hover {
    transition: 0.5s;
    background: rgba(192, 43, 43, 0.25);
    box-shadow: 0px 0px 13px 0px rgba(170, 13, 13, 0.5);
    
}

.label-menu, .checkbox {
    display: none;
}







/*FOOTER*/
.footer {
    display: block;
    align-items: center;
    justify-content: center;
    background: var(--menu-bg);
    padding: 0px 10px 0px 15px;
    box-shadow: 0px 0px 13px 4px rgba(170, 13, 13, 0.5);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0 auto;
    color: white;
    flex-direction: column;
    padding-left: 10px;
    text-align: center;
}

.rodape p {
    font-size: 0.7rem;
    align-items: center;
}

.rodape a {
    font-size: 1rem;
    color: var(--verm-esc);
    text-decoration: dashed;       
}

.rodape a:hover {
    color: white;
    background: rgba(192, 43, 43, 0.25);
    text-decoration: dashed;
}

/*MENU RESPONSIVO MOBILE*/
@media (max-width: 600px) {
    .menu {
        display: block;
        transition: 0.5;
        position: absolute;
        top: 3.4rem;
        right: 10px;
        background: var(--menu-bg);
        box-shadow: 0px 0px 13px 4px rgba(170, 13, 13, 0.75);
        text-align: center;
        width: auto;
        height: 0 auto;
        max-height: 160px;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        border-left: 0.0625rem solid var(--verm-esc);
        border-top: 0.0625rem solid var(--verm-esc);
        border-right: 0.0625rem solid var(--verm-esc);
        border-radius: 0.6rem;
    }

    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid var(--verm-esc);
    }

    .menu li a {
        padding: 0.5rem;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--verm-esc);                        
        padding-block: 1rem;
        cursor: pointer;
    }

    .corpo {
        margin-top: 6rem;
    }

    /*HAMBURGUER*/
    .hamburger {
        border-top: 0.165rem solid;
        width: 1.35rem;
        
    }

    .hamburger::before , .hamburger::after {
        content: " ";
        display: block;
        width: 1.35rem;
        height: 0.155rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
    }

    .checkbox:checked ~ .menu {
        display: block;
        transition: 0.5s;
        width: auto;
        height: auto;
        visibility: visible;
        overflow-y: auto;
    }


    .checkbox:checked ~ .label-menu .hamburger::before {
        transition: 0.5s;
        transform: rotate(135deg);
    }
    .checkbox:checked ~ .label-menu .hamburger::after {
        transition: 0.5s;
        transform: rotate(-135deg);
        top: -0.4375rem;
    }


    .checkbox ~ .label-menu .hamburger {
        transition: 0.5s;
    }
    .checkbox ~ .label-menu .hamburger::before {
        transition: 0.5s;
    }
    .checkbox ~ .label-menu .hamburger::after  {
        transition: 0.5s;
    }

        
    .checkbox:checked ~ .label-menu .hamburger {
        transition: 0s;
        border-top-color: transparent;
    }

    .checkbox:checked ~ .label-menu p {
        transition: 0.1s;
        visibility: hidden;
    }

    h1#titulo-principal {
        padding-left: 20px;
    }

    div#texto-img1 {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .img1 , .img2 {
        max-width: 350px;
    }

    div#texto-img2 {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .rodape a,a#logo-menu,.menu a:hover {
        transition: 0.05s;
    }
}
